*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 60px;
    background-color: rgb(24, 24, 24);
    box-shadow: 2px 2px 1opx white;
    color: white;
    position: fixed;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
    z-index: 10;
}
nav h1{
    margin-left: 5%;
    font-size: 1.5em;
    width: 500px;
    height: 0px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 1.2em;
}
nav ul li {
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
.bb{
    width: 100.4%;
    height: 100%;
    object-fit: cover;
    display: block;

}
.phase{
    position: relative;
    width: 100%;
    height: 70vh;
}
.caption{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2;
    color: white;
    justify-content: center;
}
.caption h1{
    font-size: 3.5em;
    font-family: "Roboto", sans-serif;
    width: 360px;
    padding-left:5% ;
}
.caption p{
    font-size: 1.5em;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
    padding-left: 5%;
}
button{
    width: 200px;
    background-color: rgb(197, 149, 15);
    color: white;
    font-weight: 1em;
    font-family:"Montserrat", sans-serif;
    padding: 2px;
    margin-left: 5%; 
    margin-top: 3%;
    border: 10PX;
    border-radius: 25px;
}

.container-2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: rgb(41, 41, 41);
    margin: 0px;
    color: white;
    font-family:"Montserrat", sans-serif;
    width: 100%;
    height: 450px;

}
.about-me h1{
    font-size: 1.2em;
    display: flex;
    justify-content: center;
}
.about-me{
    width: 550px;
    height: 300px;
    background-color: rgb(24, 24, 24);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(59, 59, 59, 0.2);
}

.about-me p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    font-size: 0.9em;
    letter-spacing: 1px;
    padding: 25px;
}
.services{
    width: 550px;
    height: 300px;
    background-color: rgb(24, 24, 24);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(59, 59, 59, 0.2);
}
.services h1{
    display: flex;
    justify-content: center;
    font-size: 1.2em;

}
.services p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;

}
    
    .skills{
    width: 550px;
    height: 300px;
    background-color: rgb(24, 24, 24);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(59, 59, 59, 0.2);
}
.skills h1{
    display: flex;
    justify-content: center;
    font-size: 1.2em;
}
.skills p {
    width: 40px;
    font-size: 0.9em;
    padding: 25px;
}